.App {
  text-align: center;
}

.navbar-container {
  background-color: dodgerblue;
  color: white;
  height: 80px;
  justify-content: center;
  align-items: center;
  display: grid;
}
nav {
  justify-content: center;
  align-items: center;
  display: grid;
}
.main-pages {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 500px;
  list-style: none;
  margin: 0;
  padding: 0;
}
li > * {
  color: white;
  font-size: 40px;
  text-decoration: none;
}
